.cdx-font-size-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    padding: 6px;
    align-items: center;
  }
  /* Container for dropdown button and menu */
  .dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  /* Button to toggle the dropdown menu */
  .dropdown-button {
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
  }
  
  /* The dropdown menu */
  .dropdown-menu {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    min-width: 150px;
    z-index: 1000; /* Ensure it appears above other elements */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  /* Individual dropdown option */
  .dropdown-menu div {
    padding: 10px;
    cursor: pointer;
  }
  
  /* Hover effect for options */
  .dropdown-menu div:hover {
    background-color: #ddd;
  }